//colors

$p-color: hsl(322, 100%, 66%);

$n-color1: hsl(193, 100%, 96%);
$n-color2: hsl(192, 100%, 9%);
$n-color3: hsl(208, 11%, 55%);

$footer-margin: 30px;
//typography
$font-size: 18px;
$font-family1:'Poppins', sans-serif;
$font-family2: 'Open Sans', sans-serif;

$font-weights: (
    'normal':400,
    'medium':600,
    'bold':700
)