//colors

$p-color: hsl(257, 40%, 49%);
$p-color2: #fff;

//typography
$font-family1:  'Open Sans', sans-serif;
$font-family2: 'Poppins', sans-serif;

$font-weights: (
    'normal':400,
    'bold':700
)