$primary-font: 'Raleway', sans-serif;
$primary-color: hsl(243, 100%, 93%);
$secondary-color:hsl(229, 7%, 55%);
$secondary-color2: hsl(228, 56%, 26%);
$secondary-color3: #122052;
$tertiary-color: hsl(229, 57%, 11%);
$primary-font-size: 14px;
$radius: 20px;
$bottom-nbsp: 50px;

